@import "./assets/font/iconfont.css";

html,body {
  width: 100%;
  height: 100%;
  background: #F8F8F8;
  overflow: hidden;
}

#app,.ant_config{
  width: 100%;
  height: 100%;
  background: #F8F8F8;
}